@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create Category</h2>
            <hr />
        </div>
        <div class="mb-2">
            <h4 class="text-muted">
                <label asp-for="Name"></label>
            </h4>
            <input asp-for="Name" class="form-control" placeholder="name..."/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-2">
            <h4 class="text-muted">
                <label asp-for="DisplayOrder"></label>
            </h4>
            <input asp-for="DisplayOrder" class="form-control" placeholder="display-order..."/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <br />
            <button type="submit" class="btn btn-info" style="width:150px"><i class="bi bi-check-circle-fill"></i>&nbsp; Create</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
    </div>
</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}