@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <legend>Directory and inventory of beverages available.</legend>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img class="d-block" src="~/cupbk.png" alt="coffee-cup">
        </div>
    </div>
</div>
